[user]
    email = julian@ortel.tech
    name = M3NIX

[core]
    editor = nvim

[diff]
    external = difft

[alias]
    a = add .
    s = status
    p = push
    d = diff
    br = branch
    co = checkout
    cm = commit -m
    lo = log --graph --oneline
    amend = commit --amend --reuse-message=HEAD

[commit]
    gpgsign = true
